:root {
  --ease-color-info: #3b82f6;
  --ease-color-info-light: #eff6ff;
  --ease-color-info-dark: #1d4ed8;
}

.ease-text-info {
  color: var(--ease-color-info);
}

.ease-bg-info {
  background-color: var(--ease-color-info);
}

.ease-text-info-light {
  color: var(--ease-color-info-light);
}

.ease-bg-info-light {
  background-color: var(--ease-color-info-light);
}

.ease-text-info-dark {
  color: var(--ease-color-info-dark);
}

.ease-bg-info-dark {
  background-color: var(--ease-color-info-dark);
}
