/* mask-position */
.mask-center {
  mask-position: center;
  mask-position: center !important;
}
.mask-top {
  mask-position: top;
  mask-position: top !important;
}
.mask-bottom {
  mask-position: bottom;
  mask-position: bottom !important;
}
.mask-left {
  mask-position: left;
  mask-position: left !important;
}
.mask-right {
  mask-position: right;
  mask-position: right !important;
}
.mask-top-left {
  mask-position: top left;
  mask-position: top left !important;
}
.mask-top-right {
  mask-position: top right;
  mask-position: top right !important;
}
.mask-bottom-left {
  mask-position: bottom left;
  mask-position: bottom left !important;
}
.mask-bottom-right {
  mask-position: bottom right;
  mask-position: bottom right !important;
}
@media (min-width: 640px) {
  .sm\:mask-center {
    mask-position: center;
  }
}
@media (min-width: 640px) {
  .sm\:mask-top {
    mask-position: top;
  }
}
@media (min-width: 640px) {
  .sm\:mask-bottom {
    mask-position: bottom;
  }
}
@media (min-width: 640px) {
  .sm\:mask-left {
    mask-position: left;
  }
}
@media (min-width: 640px) {
  .sm\:mask-right {
    mask-position: right;
  }
}
@media (min-width: 640px) {
  .sm\:mask-top-left {
    mask-position: top left;
  }
}
@media (min-width: 640px) {
  .sm\:mask-top-right {
    mask-position: top right;
  }
}
@media (min-width: 640px) {
  .sm\:mask-bottom-left {
    mask-position: bottom left;
  }
}
@media (min-width: 640px) {
  .sm\:mask-bottom-right {
    mask-position: bottom right;
  }
}
@media (min-width: 1024px) {
  .lg\:mask-center {
    mask-position: center;
  }
}
@media (min-width: 1024px) {
  .lg\:mask-top {
    mask-position: top;
  }
}
@media (min-width: 1024px) {
  .lg\:mask-bottom {
    mask-position: bottom;
  }
}
@media (min-width: 1024px) {
  .lg\:mask-left {
    mask-position: left;
  }
}
@media (min-width: 1024px) {
  .lg\:mask-right {
    mask-position: right;
  }
}
@media (min-width: 1024px) {
  .lg\:mask-top-left {
    mask-position: top left;
  }
}
@media (min-width: 1024px) {
  .lg\:mask-top-right {
    mask-position: top right;
  }
}
@media (min-width: 1024px) {
  .lg\:mask-bottom-left {
    mask-position: bottom left;
  }
}
@media (min-width: 1024px) {
  .lg\:mask-bottom-right {
    mask-position: bottom right;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mask-center {
    mask-position: center;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mask-top {
    mask-position: top;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mask-bottom {
    mask-position: bottom;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mask-left {
    mask-position: left;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mask-right {
    mask-position: right;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mask-top-left {
    mask-position: top left;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mask-top-right {
    mask-position: top right;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mask-bottom-left {
    mask-position: bottom left;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:mask-bottom-right {
    mask-position: bottom right;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mask-center {
    mask-position: center;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mask-top {
    mask-position: top;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mask-bottom {
    mask-position: bottom;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mask-left {
    mask-position: left;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mask-right {
    mask-position: right;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mask-top-left {
    mask-position: top left;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mask-top-right {
    mask-position: top right;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mask-bottom-left {
    mask-position: bottom left;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:mask-bottom-right {
    mask-position: bottom right;
  }
}
