/* background-color */
.bg-primary {
  background-color: var(--ease-primary);
  background-color: var(--ease-primary) !important;
}
.bg-secondary {
  background-color: var(--ease-secondary);
  background-color: var(--ease-secondary) !important;
}
.bg-accent {
  background-color: var(--ease-accent);
  background-color: var(--ease-accent) !important;
}
.bg-success {
  background-color: var(--ease-success);
  background-color: var(--ease-success) !important;
}
.bg-danger {
  background-color: var(--ease-danger);
  background-color: var(--ease-danger) !important;
}
.bg-warning {
  background-color: var(--ease-warning);
  background-color: var(--ease-warning) !important;
}
.bg-info {
  background-color: var(--ease-info);
  background-color: var(--ease-info) !important;
}
.bg-transparent {
  background-color: transparent;
  background-color: transparent !important;
}
.bg-current {
  background-color: currentColor;
  background-color: currentColor !important;
}
.bg-inherit {
  background-color: inherit;
  background-color: inherit !important;
}
.bg-black {
  background-color: #000;
  background-color: #000 !important;
}
.bg-white {
  background-color: #fff;
  background-color: #fff !important;
}
.bg-gray-50 {
  background-color: #f8fafc;
  background-color: #f8fafc !important;
}
.bg-gray-100 {
  background-color: #f1f5f9;
  background-color: #f1f5f9 !important;
}
.bg-gray-200 {
  background-color: #e2e8f0;
  background-color: #e2e8f0 !important;
}
.bg-gray-300 {
  background-color: #cbd5e1;
  background-color: #cbd5e1 !important;
}
.bg-gray-400 {
  background-color: #94a3b8;
  background-color: #94a3b8 !important;
}
.bg-gray-500 {
  background-color: #64748b;
  background-color: #64748b !important;
}
.bg-gray-600 {
  background-color: #475569;
  background-color: #475569 !important;
}
.bg-gray-700 {
  background-color: #334155;
  background-color: #334155 !important;
}
.bg-gray-800 {
  background-color: #1e293b;
  background-color: #1e293b !important;
}
.bg-gray-900 {
  background-color: #0f172a;
  background-color: #0f172a !important;
}
.bg-red-50 {
  background-color: #fef2f2;
  background-color: #fef2f2 !important;
}
.bg-red-100 {
  background-color: #fee2e2;
  background-color: #fee2e2 !important;
}
.bg-red-200 {
  background-color: #fecaca;
  background-color: #fecaca !important;
}
.bg-red-300 {
  background-color: #fca5a5;
  background-color: #fca5a5 !important;
}
.bg-red-400 {
  background-color: #f87171;
  background-color: #f87171 !important;
}
.bg-red-500 {
  background-color: #ef4444;
  background-color: #ef4444 !important;
}
.bg-red-600 {
  background-color: #dc2626;
  background-color: #dc2626 !important;
}
.bg-red-700 {
  background-color: #b91c1c;
  background-color: #b91c1c !important;
}
.bg-blue-50 {
  background-color: #eff6ff;
  background-color: #eff6ff !important;
}
.bg-blue-100 {
  background-color: #dbeafe;
  background-color: #dbeafe !important;
}
.bg-blue-200 {
  background-color: #bfdbfe;
  background-color: #bfdbfe !important;
}
.bg-blue-300 {
  background-color: #93c5fd;
  background-color: #93c5fd !important;
}
.bg-blue-400 {
  background-color: #60a5fa;
  background-color: #60a5fa !important;
}
.bg-blue-500 {
  background-color: #3b82f6;
  background-color: #3b82f6 !important;
}
.bg-blue-600 {
  background-color: #2563eb;
  background-color: #2563eb !important;
}
.bg-blue-700 {
  background-color: #1d4ed8;
  background-color: #1d4ed8 !important;
}
.bg-green-50 {
  background-color: #f0fdf4;
  background-color: #f0fdf4 !important;
}
.bg-green-100 {
  background-color: #dcfce7;
  background-color: #dcfce7 !important;
}
.bg-green-200 {
  background-color: #bbf7d0;
  background-color: #bbf7d0 !important;
}
.bg-green-300 {
  background-color: #86efac;
  background-color: #86efac !important;
}
.bg-green-400 {
  background-color: #4ade80;
  background-color: #4ade80 !important;
}
.bg-green-500 {
  background-color: #22c55e;
  background-color: #22c55e !important;
}
.bg-green-600 {
  background-color: #16a34a;
  background-color: #16a34a !important;
}
.bg-green-700 {
  background-color: #15803d;
  background-color: #15803d !important;
}
.bg-yellow-50 {
  background-color: #fefce8;
  background-color: #fefce8 !important;
}
.bg-yellow-100 {
  background-color: #fef9c3;
  background-color: #fef9c3 !important;
}
.bg-yellow-200 {
  background-color: #fef08a;
  background-color: #fef08a !important;
}
.bg-yellow-300 {
  background-color: #fde047;
  background-color: #fde047 !important;
}
.bg-yellow-400 {
  background-color: #facc15;
  background-color: #facc15 !important;
}
.bg-yellow-500 {
  background-color: #eab308;
  background-color: #eab308 !important;
}
.bg-yellow-600 {
  background-color: #ca8a04;
  background-color: #ca8a04 !important;
}
.bg-purple-50 {
  background-color: #faf5ff;
  background-color: #faf5ff !important;
}
.bg-purple-100 {
  background-color: #f3e8ff;
  background-color: #f3e8ff !important;
}
.bg-purple-200 {
  background-color: #e9d5ff;
  background-color: #e9d5ff !important;
}
.bg-purple-300 {
  background-color: #d8b4fe;
  background-color: #d8b4fe !important;
}
.bg-purple-400 {
  background-color: #c084fc;
  background-color: #c084fc !important;
}
.bg-purple-500 {
  background-color: #a855f7;
  background-color: #a855f7 !important;
}
.bg-purple-600 {
  background-color: #9333ea;
  background-color: #9333ea !important;
}
.bg-purple-700 {
  background-color: #7e22ce;
  background-color: #7e22ce !important;
}
.bg-pink-50 {
  background-color: #fdf2f8;
  background-color: #fdf2f8 !important;
}
.bg-pink-100 {
  background-color: #fce7f3;
  background-color: #fce7f3 !important;
}
.bg-pink-200 {
  background-color: #fbcfe8;
  background-color: #fbcfe8 !important;
}
.bg-pink-300 {
  background-color: #f9a8d4;
  background-color: #f9a8d4 !important;
}
.bg-pink-400 {
  background-color: #f472b6;
  background-color: #f472b6 !important;
}
.bg-pink-500 {
  background-color: #ec4899;
  background-color: #ec4899 !important;
}
.bg-pink-600 {
  background-color: #db2777;
  background-color: #db2777 !important;
}
.bg-pink-700 {
  background-color: #be185d;
  background-color: #be185d !important;
}
.bg-orange-50 {
  background-color: #fff7ed;
  background-color: #fff7ed !important;
}
.bg-orange-100 {
  background-color: #ffedd5;
  background-color: #ffedd5 !important;
}
.bg-orange-200 {
  background-color: #fed7aa;
  background-color: #fed7aa !important;
}
.bg-orange-300 {
  background-color: #fdba74;
  background-color: #fdba74 !important;
}
.bg-orange-400 {
  background-color: #fb923c;
  background-color: #fb923c !important;
}
.bg-orange-500 {
  background-color: #f97316;
  background-color: #f97316 !important;
}
.bg-orange-600 {
  background-color: #ea580c;
  background-color: #ea580c !important;
}
.bg-orange-700 {
  background-color: #c2410c;
  background-color: #c2410c !important;
}
.bg-indigo-50 {
  background-color: #eef2ff;
  background-color: #eef2ff !important;
}
.bg-indigo-100 {
  background-color: #e0e7ff;
  background-color: #e0e7ff !important;
}
.bg-indigo-200 {
  background-color: #c7d2fe;
  background-color: #c7d2fe !important;
}
.bg-indigo-300 {
  background-color: #a5b4fc;
  background-color: #a5b4fc !important;
}
.bg-indigo-400 {
  background-color: #818cf8;
  background-color: #818cf8 !important;
}
.bg-indigo-500 {
  background-color: #6366f1;
  background-color: #6366f1 !important;
}
.bg-indigo-600 {
  background-color: #4f46e5;
  background-color: #4f46e5 !important;
}
.bg-indigo-700 {
  background-color: #4338ca;
  background-color: #4338ca !important;
}
@media (min-width: 640px) {
  .sm\:bg-primary {
    background-color: var(--ease-primary);
  }
}
@media (min-width: 640px) {
  .sm\:bg-secondary {
    background-color: var(--ease-secondary);
  }
}
@media (min-width: 640px) {
  .sm\:bg-accent {
    background-color: var(--ease-accent);
  }
}
@media (min-width: 640px) {
  .sm\:bg-success {
    background-color: var(--ease-success);
  }
}
@media (min-width: 640px) {
  .sm\:bg-danger {
    background-color: var(--ease-danger);
  }
}
@media (min-width: 640px) {
  .sm\:bg-warning {
    background-color: var(--ease-warning);
  }
}
@media (min-width: 640px) {
  .sm\:bg-info {
    background-color: var(--ease-info);
  }
}
@media (min-width: 640px) {
  .sm\:bg-transparent {
    background-color: transparent;
  }
}
@media (min-width: 640px) {
  .sm\:bg-current {
    background-color: currentColor;
  }
}
@media (min-width: 640px) {
  .sm\:bg-inherit {
    background-color: inherit;
  }
}
@media (min-width: 640px) {
  .sm\:bg-black {
    background-color: #000;
  }
}
@media (min-width: 640px) {
  .sm\:bg-white {
    background-color: #fff;
  }
}
@media (min-width: 640px) {
  .sm\:bg-gray-50 {
    background-color: #f8fafc;
  }
}
@media (min-width: 640px) {
  .sm\:bg-gray-100 {
    background-color: #f1f5f9;
  }
}
@media (min-width: 640px) {
  .sm\:bg-gray-200 {
    background-color: #e2e8f0;
  }
}
@media (min-width: 640px) {
  .sm\:bg-gray-300 {
    background-color: #cbd5e1;
  }
}
@media (min-width: 640px) {
  .sm\:bg-gray-400 {
    background-color: #94a3b8;
  }
}
@media (min-width: 640px) {
  .sm\:bg-gray-500 {
    background-color: #64748b;
  }
}
@media (min-width: 640px) {
  .sm\:bg-gray-600 {
    background-color: #475569;
  }
}
@media (min-width: 640px) {
  .sm\:bg-gray-700 {
    background-color: #334155;
  }
}
@media (min-width: 640px) {
  .sm\:bg-gray-800 {
    background-color: #1e293b;
  }
}
@media (min-width: 640px) {
  .sm\:bg-gray-900 {
    background-color: #0f172a;
  }
}
@media (min-width: 640px) {
  .sm\:bg-red-50 {
    background-color: #fef2f2;
  }
}
@media (min-width: 640px) {
  .sm\:bg-red-100 {
    background-color: #fee2e2;
  }
}
@media (min-width: 640px) {
  .sm\:bg-red-200 {
    background-color: #fecaca;
  }
}
@media (min-width: 640px) {
  .sm\:bg-red-300 {
    background-color: #fca5a5;
  }
}
@media (min-width: 640px) {
  .sm\:bg-red-400 {
    background-color: #f87171;
  }
}
@media (min-width: 640px) {
  .sm\:bg-red-500 {
    background-color: #ef4444;
  }
}
@media (min-width: 640px) {
  .sm\:bg-red-600 {
    background-color: #dc2626;
  }
}
@media (min-width: 640px) {
  .sm\:bg-red-700 {
    background-color: #b91c1c;
  }
}
@media (min-width: 640px) {
  .sm\:bg-blue-50 {
    background-color: #eff6ff;
  }
}
@media (min-width: 640px) {
  .sm\:bg-blue-100 {
    background-color: #dbeafe;
  }
}
@media (min-width: 640px) {
  .sm\:bg-blue-200 {
    background-color: #bfdbfe;
  }
}
@media (min-width: 640px) {
  .sm\:bg-blue-300 {
    background-color: #93c5fd;
  }
}
@media (min-width: 640px) {
  .sm\:bg-blue-400 {
    background-color: #60a5fa;
  }
}
@media (min-width: 640px) {
  .sm\:bg-blue-500 {
    background-color: #3b82f6;
  }
}
@media (min-width: 640px) {
  .sm\:bg-blue-600 {
    background-color: #2563eb;
  }
}
@media (min-width: 640px) {
  .sm\:bg-blue-700 {
    background-color: #1d4ed8;
  }
}
@media (min-width: 640px) {
  .sm\:bg-green-50 {
    background-color: #f0fdf4;
  }
}
@media (min-width: 640px) {
  .sm\:bg-green-100 {
    background-color: #dcfce7;
  }
}
@media (min-width: 640px) {
  .sm\:bg-green-200 {
    background-color: #bbf7d0;
  }
}
@media (min-width: 640px) {
  .sm\:bg-green-300 {
    background-color: #86efac;
  }
}
@media (min-width: 640px) {
  .sm\:bg-green-400 {
    background-color: #4ade80;
  }
}
@media (min-width: 640px) {
  .sm\:bg-green-500 {
    background-color: #22c55e;
  }
}
@media (min-width: 640px) {
  .sm\:bg-green-600 {
    background-color: #16a34a;
  }
}
@media (min-width: 640px) {
  .sm\:bg-green-700 {
    background-color: #15803d;
  }
}
@media (min-width: 640px) {
  .sm\:bg-yellow-50 {
    background-color: #fefce8;
  }
}
@media (min-width: 640px) {
  .sm\:bg-yellow-100 {
    background-color: #fef9c3;
  }
}
@media (min-width: 640px) {
  .sm\:bg-yellow-200 {
    background-color: #fef08a;
  }
}
@media (min-width: 640px) {
  .sm\:bg-yellow-300 {
    background-color: #fde047;
  }
}
@media (min-width: 640px) {
  .sm\:bg-yellow-400 {
    background-color: #facc15;
  }
}
@media (min-width: 640px) {
  .sm\:bg-yellow-500 {
    background-color: #eab308;
  }
}
@media (min-width: 640px) {
  .sm\:bg-yellow-600 {
    background-color: #ca8a04;
  }
}
@media (min-width: 640px) {
  .sm\:bg-purple-50 {
    background-color: #faf5ff;
  }
}
@media (min-width: 640px) {
  .sm\:bg-purple-100 {
    background-color: #f3e8ff;
  }
}
@media (min-width: 640px) {
  .sm\:bg-purple-200 {
    background-color: #e9d5ff;
  }
}
@media (min-width: 640px) {
  .sm\:bg-purple-300 {
    background-color: #d8b4fe;
  }
}
@media (min-width: 640px) {
  .sm\:bg-purple-400 {
    background-color: #c084fc;
  }
}
@media (min-width: 640px) {
  .sm\:bg-purple-500 {
    background-color: #a855f7;
  }
}
@media (min-width: 640px) {
  .sm\:bg-purple-600 {
    background-color: #9333ea;
  }
}
@media (min-width: 640px) {
  .sm\:bg-purple-700 {
    background-color: #7e22ce;
  }
}
@media (min-width: 640px) {
  .sm\:bg-pink-50 {
    background-color: #fdf2f8;
  }
}
@media (min-width: 640px) {
  .sm\:bg-pink-100 {
    background-color: #fce7f3;
  }
}
@media (min-width: 640px) {
  .sm\:bg-pink-200 {
    background-color: #fbcfe8;
  }
}
@media (min-width: 640px) {
  .sm\:bg-pink-300 {
    background-color: #f9a8d4;
  }
}
@media (min-width: 640px) {
  .sm\:bg-pink-400 {
    background-color: #f472b6;
  }
}
@media (min-width: 640px) {
  .sm\:bg-pink-500 {
    background-color: #ec4899;
  }
}
@media (min-width: 640px) {
  .sm\:bg-pink-600 {
    background-color: #db2777;
  }
}
@media (min-width: 640px) {
  .sm\:bg-pink-700 {
    background-color: #be185d;
  }
}
@media (min-width: 640px) {
  .sm\:bg-orange-50 {
    background-color: #fff7ed;
  }
}
@media (min-width: 640px) {
  .sm\:bg-orange-100 {
    background-color: #ffedd5;
  }
}
@media (min-width: 640px) {
  .sm\:bg-orange-200 {
    background-color: #fed7aa;
  }
}
@media (min-width: 640px) {
  .sm\:bg-orange-300 {
    background-color: #fdba74;
  }
}
@media (min-width: 640px) {
  .sm\:bg-orange-400 {
    background-color: #fb923c;
  }
}
@media (min-width: 640px) {
  .sm\:bg-orange-500 {
    background-color: #f97316;
  }
}
@media (min-width: 640px) {
  .sm\:bg-orange-600 {
    background-color: #ea580c;
  }
}
@media (min-width: 640px) {
  .sm\:bg-orange-700 {
    background-color: #c2410c;
  }
}
@media (min-width: 640px) {
  .sm\:bg-indigo-50 {
    background-color: #eef2ff;
  }
}
@media (min-width: 640px) {
  .sm\:bg-indigo-100 {
    background-color: #e0e7ff;
  }
}
@media (min-width: 640px) {
  .sm\:bg-indigo-200 {
    background-color: #c7d2fe;
  }
}
@media (min-width: 640px) {
  .sm\:bg-indigo-300 {
    background-color: #a5b4fc;
  }
}
@media (min-width: 640px) {
  .sm\:bg-indigo-400 {
    background-color: #818cf8;
  }
}
@media (min-width: 640px) {
  .sm\:bg-indigo-500 {
    background-color: #6366f1;
  }
}
@media (min-width: 640px) {
  .sm\:bg-indigo-600 {
    background-color: #4f46e5;
  }
}
@media (min-width: 640px) {
  .sm\:bg-indigo-700 {
    background-color: #4338ca;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-primary {
    background-color: var(--ease-primary);
  }
}
@media (min-width: 1024px) {
  .lg\:bg-secondary {
    background-color: var(--ease-secondary);
  }
}
@media (min-width: 1024px) {
  .lg\:bg-accent {
    background-color: var(--ease-accent);
  }
}
@media (min-width: 1024px) {
  .lg\:bg-success {
    background-color: var(--ease-success);
  }
}
@media (min-width: 1024px) {
  .lg\:bg-danger {
    background-color: var(--ease-danger);
  }
}
@media (min-width: 1024px) {
  .lg\:bg-warning {
    background-color: var(--ease-warning);
  }
}
@media (min-width: 1024px) {
  .lg\:bg-info {
    background-color: var(--ease-info);
  }
}
@media (min-width: 1024px) {
  .lg\:bg-transparent {
    background-color: transparent;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-current {
    background-color: currentColor;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-inherit {
    background-color: inherit;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-black {
    background-color: #000;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-white {
    background-color: #fff;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-gray-50 {
    background-color: #f8fafc;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-gray-100 {
    background-color: #f1f5f9;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-gray-200 {
    background-color: #e2e8f0;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-gray-300 {
    background-color: #cbd5e1;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-gray-400 {
    background-color: #94a3b8;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-gray-500 {
    background-color: #64748b;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-gray-600 {
    background-color: #475569;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-gray-700 {
    background-color: #334155;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-gray-800 {
    background-color: #1e293b;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-gray-900 {
    background-color: #0f172a;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-red-50 {
    background-color: #fef2f2;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-red-100 {
    background-color: #fee2e2;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-red-200 {
    background-color: #fecaca;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-red-300 {
    background-color: #fca5a5;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-red-400 {
    background-color: #f87171;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-red-500 {
    background-color: #ef4444;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-red-600 {
    background-color: #dc2626;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-red-700 {
    background-color: #b91c1c;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-blue-50 {
    background-color: #eff6ff;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-blue-100 {
    background-color: #dbeafe;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-blue-200 {
    background-color: #bfdbfe;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-blue-300 {
    background-color: #93c5fd;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-blue-400 {
    background-color: #60a5fa;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-blue-500 {
    background-color: #3b82f6;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-blue-600 {
    background-color: #2563eb;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-blue-700 {
    background-color: #1d4ed8;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-green-50 {
    background-color: #f0fdf4;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-green-100 {
    background-color: #dcfce7;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-green-200 {
    background-color: #bbf7d0;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-green-300 {
    background-color: #86efac;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-green-400 {
    background-color: #4ade80;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-green-500 {
    background-color: #22c55e;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-green-600 {
    background-color: #16a34a;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-green-700 {
    background-color: #15803d;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-yellow-50 {
    background-color: #fefce8;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-yellow-100 {
    background-color: #fef9c3;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-yellow-200 {
    background-color: #fef08a;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-yellow-300 {
    background-color: #fde047;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-yellow-400 {
    background-color: #facc15;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-yellow-500 {
    background-color: #eab308;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-yellow-600 {
    background-color: #ca8a04;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-purple-50 {
    background-color: #faf5ff;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-purple-100 {
    background-color: #f3e8ff;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-purple-200 {
    background-color: #e9d5ff;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-purple-300 {
    background-color: #d8b4fe;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-purple-400 {
    background-color: #c084fc;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-purple-500 {
    background-color: #a855f7;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-purple-600 {
    background-color: #9333ea;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-purple-700 {
    background-color: #7e22ce;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-pink-50 {
    background-color: #fdf2f8;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-pink-100 {
    background-color: #fce7f3;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-pink-200 {
    background-color: #fbcfe8;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-pink-300 {
    background-color: #f9a8d4;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-pink-400 {
    background-color: #f472b6;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-pink-500 {
    background-color: #ec4899;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-pink-600 {
    background-color: #db2777;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-pink-700 {
    background-color: #be185d;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-orange-50 {
    background-color: #fff7ed;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-orange-100 {
    background-color: #ffedd5;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-orange-200 {
    background-color: #fed7aa;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-orange-300 {
    background-color: #fdba74;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-orange-400 {
    background-color: #fb923c;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-orange-500 {
    background-color: #f97316;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-orange-600 {
    background-color: #ea580c;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-orange-700 {
    background-color: #c2410c;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-indigo-50 {
    background-color: #eef2ff;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-indigo-100 {
    background-color: #e0e7ff;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-indigo-200 {
    background-color: #c7d2fe;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-indigo-300 {
    background-color: #a5b4fc;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-indigo-400 {
    background-color: #818cf8;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-indigo-500 {
    background-color: #6366f1;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-indigo-600 {
    background-color: #4f46e5;
  }
}
@media (min-width: 1024px) {
  .lg\:bg-indigo-700 {
    background-color: #4338ca;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-primary {
    background-color: var(--ease-primary);
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-secondary {
    background-color: var(--ease-secondary);
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-accent {
    background-color: var(--ease-accent);
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-success {
    background-color: var(--ease-success);
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-danger {
    background-color: var(--ease-danger);
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-warning {
    background-color: var(--ease-warning);
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-info {
    background-color: var(--ease-info);
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-transparent {
    background-color: transparent;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-current {
    background-color: currentColor;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-inherit {
    background-color: inherit;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-black {
    background-color: #000;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-white {
    background-color: #fff;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-50 {
    background-color: #f8fafc;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-100 {
    background-color: #f1f5f9;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-200 {
    background-color: #e2e8f0;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-300 {
    background-color: #cbd5e1;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-400 {
    background-color: #94a3b8;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-500 {
    background-color: #64748b;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-600 {
    background-color: #475569;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-700 {
    background-color: #334155;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-800 {
    background-color: #1e293b;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-gray-900 {
    background-color: #0f172a;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-red-50 {
    background-color: #fef2f2;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-red-100 {
    background-color: #fee2e2;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-red-200 {
    background-color: #fecaca;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-red-300 {
    background-color: #fca5a5;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-red-400 {
    background-color: #f87171;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-red-500 {
    background-color: #ef4444;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-red-600 {
    background-color: #dc2626;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-red-700 {
    background-color: #b91c1c;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-blue-50 {
    background-color: #eff6ff;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-blue-100 {
    background-color: #dbeafe;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-blue-200 {
    background-color: #bfdbfe;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-blue-300 {
    background-color: #93c5fd;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-blue-400 {
    background-color: #60a5fa;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-blue-500 {
    background-color: #3b82f6;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-blue-600 {
    background-color: #2563eb;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-blue-700 {
    background-color: #1d4ed8;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-green-50 {
    background-color: #f0fdf4;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-green-100 {
    background-color: #dcfce7;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-green-200 {
    background-color: #bbf7d0;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-green-300 {
    background-color: #86efac;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-green-400 {
    background-color: #4ade80;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-green-500 {
    background-color: #22c55e;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-green-600 {
    background-color: #16a34a;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-green-700 {
    background-color: #15803d;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-yellow-50 {
    background-color: #fefce8;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-yellow-100 {
    background-color: #fef9c3;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-yellow-200 {
    background-color: #fef08a;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-yellow-300 {
    background-color: #fde047;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-yellow-400 {
    background-color: #facc15;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-yellow-500 {
    background-color: #eab308;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-yellow-600 {
    background-color: #ca8a04;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-purple-50 {
    background-color: #faf5ff;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-purple-100 {
    background-color: #f3e8ff;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-purple-200 {
    background-color: #e9d5ff;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-purple-300 {
    background-color: #d8b4fe;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-purple-400 {
    background-color: #c084fc;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-purple-500 {
    background-color: #a855f7;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-purple-600 {
    background-color: #9333ea;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-purple-700 {
    background-color: #7e22ce;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-pink-50 {
    background-color: #fdf2f8;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-pink-100 {
    background-color: #fce7f3;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-pink-200 {
    background-color: #fbcfe8;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-pink-300 {
    background-color: #f9a8d4;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-pink-400 {
    background-color: #f472b6;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-pink-500 {
    background-color: #ec4899;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-pink-600 {
    background-color: #db2777;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-pink-700 {
    background-color: #be185d;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-orange-50 {
    background-color: #fff7ed;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-orange-100 {
    background-color: #ffedd5;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-orange-200 {
    background-color: #fed7aa;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-orange-300 {
    background-color: #fdba74;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-orange-400 {
    background-color: #fb923c;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-orange-500 {
    background-color: #f97316;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-orange-600 {
    background-color: #ea580c;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-orange-700 {
    background-color: #c2410c;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-indigo-50 {
    background-color: #eef2ff;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-indigo-100 {
    background-color: #e0e7ff;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-indigo-200 {
    background-color: #c7d2fe;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-indigo-300 {
    background-color: #a5b4fc;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-indigo-400 {
    background-color: #818cf8;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-indigo-500 {
    background-color: #6366f1;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-indigo-600 {
    background-color: #4f46e5;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:bg-indigo-700 {
    background-color: #4338ca;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-primary {
    background-color: var(--ease-primary);
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-secondary {
    background-color: var(--ease-secondary);
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-accent {
    background-color: var(--ease-accent);
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-success {
    background-color: var(--ease-success);
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-danger {
    background-color: var(--ease-danger);
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-warning {
    background-color: var(--ease-warning);
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-info {
    background-color: var(--ease-info);
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-transparent {
    background-color: transparent;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-current {
    background-color: currentColor;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-inherit {
    background-color: inherit;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-black {
    background-color: #000;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-white {
    background-color: #fff;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-gray-50 {
    background-color: #f8fafc;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-gray-100 {
    background-color: #f1f5f9;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-gray-200 {
    background-color: #e2e8f0;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-gray-300 {
    background-color: #cbd5e1;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-gray-400 {
    background-color: #94a3b8;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-gray-500 {
    background-color: #64748b;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-gray-600 {
    background-color: #475569;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-gray-700 {
    background-color: #334155;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-gray-800 {
    background-color: #1e293b;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-gray-900 {
    background-color: #0f172a;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-red-50 {
    background-color: #fef2f2;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-red-100 {
    background-color: #fee2e2;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-red-200 {
    background-color: #fecaca;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-red-300 {
    background-color: #fca5a5;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-red-400 {
    background-color: #f87171;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-red-500 {
    background-color: #ef4444;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-red-600 {
    background-color: #dc2626;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-red-700 {
    background-color: #b91c1c;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-blue-50 {
    background-color: #eff6ff;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-blue-100 {
    background-color: #dbeafe;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-blue-200 {
    background-color: #bfdbfe;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-blue-300 {
    background-color: #93c5fd;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-blue-400 {
    background-color: #60a5fa;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-blue-500 {
    background-color: #3b82f6;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-blue-600 {
    background-color: #2563eb;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-blue-700 {
    background-color: #1d4ed8;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-green-50 {
    background-color: #f0fdf4;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-green-100 {
    background-color: #dcfce7;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-green-200 {
    background-color: #bbf7d0;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-green-300 {
    background-color: #86efac;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-green-400 {
    background-color: #4ade80;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-green-500 {
    background-color: #22c55e;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-green-600 {
    background-color: #16a34a;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-green-700 {
    background-color: #15803d;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-yellow-50 {
    background-color: #fefce8;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-yellow-100 {
    background-color: #fef9c3;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-yellow-200 {
    background-color: #fef08a;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-yellow-300 {
    background-color: #fde047;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-yellow-400 {
    background-color: #facc15;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-yellow-500 {
    background-color: #eab308;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-yellow-600 {
    background-color: #ca8a04;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-purple-50 {
    background-color: #faf5ff;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-purple-100 {
    background-color: #f3e8ff;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-purple-200 {
    background-color: #e9d5ff;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-purple-300 {
    background-color: #d8b4fe;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-purple-400 {
    background-color: #c084fc;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-purple-500 {
    background-color: #a855f7;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-purple-600 {
    background-color: #9333ea;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-purple-700 {
    background-color: #7e22ce;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-pink-50 {
    background-color: #fdf2f8;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-pink-100 {
    background-color: #fce7f3;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-pink-200 {
    background-color: #fbcfe8;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-pink-300 {
    background-color: #f9a8d4;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-pink-400 {
    background-color: #f472b6;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-pink-500 {
    background-color: #ec4899;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-pink-600 {
    background-color: #db2777;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-pink-700 {
    background-color: #be185d;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-orange-50 {
    background-color: #fff7ed;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-orange-100 {
    background-color: #ffedd5;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-orange-200 {
    background-color: #fed7aa;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-orange-300 {
    background-color: #fdba74;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-orange-400 {
    background-color: #fb923c;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-orange-500 {
    background-color: #f97316;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-orange-600 {
    background-color: #ea580c;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-orange-700 {
    background-color: #c2410c;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-indigo-50 {
    background-color: #eef2ff;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-indigo-100 {
    background-color: #e0e7ff;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-indigo-200 {
    background-color: #c7d2fe;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-indigo-300 {
    background-color: #a5b4fc;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-indigo-400 {
    background-color: #818cf8;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-indigo-500 {
    background-color: #6366f1;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-indigo-600 {
    background-color: #4f46e5;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:bg-indigo-700 {
    background-color: #4338ca;
  }
}
