/* scrollbar-width */
.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-width: thin !important;
}
.scrollbar-none {
  scrollbar-width: none;
  scrollbar-width: none !important;
}
.scrollbar-auto {
  scrollbar-width: auto;
  scrollbar-width: auto !important;
}
.scrollbar-thin-hover {
  scrollbar-width: thin;
  scrollbar-width: thin !important;
}
.scrollbar-none-hover {
  scrollbar-width: none;
  scrollbar-width: none !important;
}
.scrollbar-width-thin {
  scrollbar-width: thin;
  scrollbar-width: thin !important;
}
.scrollbar-width-none {
  scrollbar-width: none;
  scrollbar-width: none !important;
}
.scrollbar-width-auto {
  scrollbar-width: auto;
  scrollbar-width: auto !important;
}
.scrollbar-w-thin {
  scrollbar-width: thin;
  scrollbar-width: thin !important;
}
.scrollbar-w-none {
  scrollbar-width: none;
  scrollbar-width: none !important;
}
.scrollbar-w-auto {
  scrollbar-width: auto;
  scrollbar-width: auto !important;
}
.scrollbar-style-thin {
  scrollbar-width: thin;
  scrollbar-width: thin !important;
}
.scrollbar-style-none {
  scrollbar-width: none;
  scrollbar-width: none !important;
}
.scrollbar-style-auto {
  scrollbar-width: auto;
  scrollbar-width: auto !important;
}
.scrollbar-width-inherit {
  scrollbar-width: inherit;
  scrollbar-width: inherit !important;
}
.scrollbar-width-initial {
  scrollbar-width: initial;
  scrollbar-width: initial !important;
}
.scrollbar-width-unset {
  scrollbar-width: unset;
  scrollbar-width: unset !important;
}
.scrollbar-w-inherit {
  scrollbar-width: inherit;
  scrollbar-width: inherit !important;
}
.scrollbar-w-initial {
  scrollbar-width: initial;
  scrollbar-width: initial !important;
}
.scrollbar-w-unset {
  scrollbar-width: unset;
  scrollbar-width: unset !important;
}
@media (min-width: 640px) {
  .sm\:scrollbar-thin {
    scrollbar-width: thin;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-none {
    scrollbar-width: none;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-auto {
    scrollbar-width: auto;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-thin-hover {
    scrollbar-width: thin;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-none-hover {
    scrollbar-width: none;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-width-thin {
    scrollbar-width: thin;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-width-none {
    scrollbar-width: none;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-width-auto {
    scrollbar-width: auto;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-w-thin {
    scrollbar-width: thin;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-w-none {
    scrollbar-width: none;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-w-auto {
    scrollbar-width: auto;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-style-thin {
    scrollbar-width: thin;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-style-none {
    scrollbar-width: none;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-style-auto {
    scrollbar-width: auto;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-width-inherit {
    scrollbar-width: inherit;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-width-initial {
    scrollbar-width: initial;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-width-unset {
    scrollbar-width: unset;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-w-inherit {
    scrollbar-width: inherit;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-w-initial {
    scrollbar-width: initial;
  }
}
@media (min-width: 640px) {
  .sm\:scrollbar-w-unset {
    scrollbar-width: unset;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-thin {
    scrollbar-width: thin;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-none {
    scrollbar-width: none;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-auto {
    scrollbar-width: auto;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-thin-hover {
    scrollbar-width: thin;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-none-hover {
    scrollbar-width: none;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-width-thin {
    scrollbar-width: thin;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-width-none {
    scrollbar-width: none;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-width-auto {
    scrollbar-width: auto;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-w-thin {
    scrollbar-width: thin;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-w-none {
    scrollbar-width: none;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-w-auto {
    scrollbar-width: auto;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-style-thin {
    scrollbar-width: thin;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-style-none {
    scrollbar-width: none;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-style-auto {
    scrollbar-width: auto;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-width-inherit {
    scrollbar-width: inherit;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-width-initial {
    scrollbar-width: initial;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-width-unset {
    scrollbar-width: unset;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-w-inherit {
    scrollbar-width: inherit;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-w-initial {
    scrollbar-width: initial;
  }
}
@media (min-width: 1024px) {
  .lg\:scrollbar-w-unset {
    scrollbar-width: unset;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-thin {
    scrollbar-width: thin;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-none {
    scrollbar-width: none;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-auto {
    scrollbar-width: auto;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-thin-hover {
    scrollbar-width: thin;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-none-hover {
    scrollbar-width: none;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-width-thin {
    scrollbar-width: thin;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-width-none {
    scrollbar-width: none;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-width-auto {
    scrollbar-width: auto;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-w-thin {
    scrollbar-width: thin;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-w-none {
    scrollbar-width: none;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-w-auto {
    scrollbar-width: auto;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-style-thin {
    scrollbar-width: thin;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-style-none {
    scrollbar-width: none;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-style-auto {
    scrollbar-width: auto;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-width-inherit {
    scrollbar-width: inherit;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-width-initial {
    scrollbar-width: initial;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-width-unset {
    scrollbar-width: unset;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-w-inherit {
    scrollbar-width: inherit;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-w-initial {
    scrollbar-width: initial;
  }
}
@media (prefers-color-scheme: dark) {
  .dark\:scrollbar-w-unset {
    scrollbar-width: unset;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-thin {
    scrollbar-width: thin;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-none {
    scrollbar-width: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-auto {
    scrollbar-width: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-thin-hover {
    scrollbar-width: thin;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-none-hover {
    scrollbar-width: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-width-thin {
    scrollbar-width: thin;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-width-none {
    scrollbar-width: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-width-auto {
    scrollbar-width: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-w-thin {
    scrollbar-width: thin;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-w-none {
    scrollbar-width: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-w-auto {
    scrollbar-width: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-style-thin {
    scrollbar-width: thin;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-style-none {
    scrollbar-width: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-style-auto {
    scrollbar-width: auto;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-width-inherit {
    scrollbar-width: inherit;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-width-initial {
    scrollbar-width: initial;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-width-unset {
    scrollbar-width: unset;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-w-inherit {
    scrollbar-width: inherit;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-w-initial {
    scrollbar-width: initial;
  }
}
@media (prefers-reduced-motion: reduce) {
  .motion-safe\:scrollbar-w-unset {
    scrollbar-width: unset;
  }
}
