* {

    margin:0;
    padding:0;
    box-sizing:border-box;

}


body {

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#000;

    overflow:hidden;

    font-family:monospace;

    color:#00ff66;

}



.matrix-container {

    position:relative;

    text-align:center;

    padding:40px;

}



.rain {

    position:absolute;

    inset:-200px;

    display:flex;

    justify-content:space-around;

    pointer-events:none;

}



.rain span {


    color:#00ff66;

    font-size:2rem;

    opacity:0;


    animation:

    fall 4s linear infinite;


}



.rain span:nth-child(2){

    animation-delay:.5s;

}



.rain span:nth-child(3){

    animation-delay:1s;

}



.rain span:nth-child(4){

    animation-delay:1.5s;

}



.rain span:nth-child(5){

    animation-delay:2s;

}



.rain span:nth-child(6){

    animation-delay:2.5s;

}



.rain span:nth-child(7){

    animation-delay:3s;

}




.matrix-text {


    position:relative;


    font-size:clamp(4rem,12vw,9rem);


    font-weight:900;


    letter-spacing:15px;


    color:#00ff66;


    text-shadow:


    0 0 10px #00ff66,


    0 0 30px #00ff66;


    overflow:hidden;


    animation:

    reveal 3s ease forwards;


}



.matrix-text::before {


    content:"010101010101";


    position:absolute;


    inset:0;


    color:#000;


    background:#00ff66;


    mix-blend-mode:multiply;


    animation:

    scan 3s linear forwards;


}



@keyframes fall {


    0% {

        transform:

        translateY(-300px);

        opacity:0;

    }


    20% {

        opacity:1;

    }


    100% {


        transform:

        translateY(700px);


        opacity:0;

    }

}





@keyframes reveal {


    0% {


        opacity:0;

        filter:blur(10px);

        transform:scale(.8);

    }



    50% {


        opacity:.8;

    }



    100% {


        opacity:1;

        filter:blur(0);

        transform:scale(1);

    }

}




@keyframes scan {


    0% {


        transform:

        translateY(-100%);

    }


    100% {


        transform:

        translateY(100%);

    }

}



p {

    margin-top:30px;

    color:#86efac;

    font-size:18px;

}