* {

    margin:0;
    padding:0;
    box-sizing:border-box;

}


body {

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;


    background:#020617;

    font-family:Arial,sans-serif;

    color:white;

}




.container {

    text-align:center;

}



.burn-text {


    position:relative;


    font-size:100px;

    font-weight:900;


    letter-spacing:10px;


    color:#f97316;


    cursor:pointer;


    text-shadow:

    0 0 10px #f97316,

    0 0 30px #ef4444;


    transition:.5s;

}





.burn-text::before {


    content:"FIRE";


    position:absolute;


    inset:0;


    color:#fde047;


    opacity:0;


    filter:blur(2px);


    clip-path:

    polygon(

    0 0,

    100% 0,

    100% 45%,

    0 55%

    );


}




.burn-text:hover {


    color:transparent;


    animation:

    burn 1.5s forwards;


}





.burn-text:hover::before {


    opacity:1;


    animation:

    flame 1.5s forwards;


}




@keyframes burn {


    0% {


        filter:

        blur(0);

        transform:

        scale(1);

    }



    40% {


        filter:

        blur(3px);


        transform:

        scale(1.1);


    }



    100% {


        opacity:0;


        transform:

        translateY(-30px)

        scale(.8);


        filter:

        blur(12px);


    }

}





@keyframes flame {


    0% {


        transform:

        translateY(0);


    }



    50% {


        transform:

        translateY(-25px);


        filter:

        blur(5px);


    }



    100% {


        opacity:0;


        transform:

        translateY(-80px);


    }

}





.burn-text:hover {


    text-shadow:

    0 0 20px #f97316,

    0 0 50px #ef4444;

}




p {

    margin-top:40px;

    color:#94a3b8;

    font-size:18px;

}